


#profile{
	float: left
	padding: 26px;
	height: 100px;
	width: auto;
	style="float: left;
}

h1 {
	display: inline;
	margin: 0;
	line-height: 60 px;
	text-align: left;
	font size: 58;
	color: blue;
	font-family: calibri, sans-serif;
	}

}
/* add notes in CSS */